@page "/"
@using CN_Together.Data.Interfaces;
@inject NavigationManager NavigationManager
@inject IRoomManager RoomManager

<PageTitle>Codenames together!</PageTitle>

<div>
    <table>
        <tr>
            <th>Hint</th>
            <th>Number</th>
        </tr>
    @foreach (var hint in this.RoomManager.Hints)
    {
        <tr>
            <th style="color: @hint.Team">@hint.Message</th>
            <th style ="color: @hint.Team">@hint.Number</th>
        </tr>    }
    </table>
</div>

<button @onclick="this.OpenLoginPage">
    join a team
</button>

<button @onclick="this.ResetRoom">
    Reset the chat
</button>