@page "/"
@using CN_Together.Data.Interfaces;
@inject NavigationManager NavigationManager
@inject IRoomManager RoomManager

<PageTitle>Codenames together!</PageTitle>

<div>
    @foreach (var hint in this.RoomManager.Hints)
    {
        <div style="color: @hint.Team">
            @hint.Message @hint.Number
        </div>
    }
</div>

<button @onclick="this.OpenLoginPage">
    join a team
</button>

<button @onclick="this.ResetRoom">
    Reset room
</button>