@page "/login"
@inject NavigationManager NavigationManager

<h3>TeamLogin</h3>

<button style="color:red" @onclick="this.JoinTeamRed">
    red
</button>

<button style="color:blue" @onclick="this.JoinTeamBlue">
    blue
</button>
