@page "/login"
@inject NavigationManager NavigationManager

<h3>TeamLogin</h3>


<div style="font-size:large">
    Join a team:
</div>

<table>
    <tr>
        <th>
            <button style="color:red" @onclick="this.JoinTeamRed">
                Team red
            </button>
        </th>
        <th>
            <button style="color:blue" @onclick="this.JoinTeamBlue">
                Team blue
            </button>
        </th>
    </tr>
</table>